<div class="container">
    <app-header></app-header>

    <div class="container my-3">
        <router-outlet></router-outlet>
    </div>

    <div class="jumbotron">
        <h1 class="display-4"><strong>{{title}}</strong></h1>
        <p class="lead">{{description}}</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-sm" href="#" role="button">Registrar Servicio</a> |
        <a class="btn btn-success btn-sm" href="#" role="button">Consultar Horas de Trabjo</a>
    </div>
</div>